body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

h1 {
	font-size: 27px;
	font-weight: 400;
	margin-bottom: 10px;
	margin-top: 25px;
}

h4 {
	font-size: 17px;
	font-weight: 200;
	margin: 0;
}

.blue {
	color: #2C65FF;
}

.no-opacity {
  opacity: 0;
}

.center-container {
	display: flex;
	align-items: center;
	justify-content: center;
}







